#about {
  
    @-webkit-keyframes slide-from-right {
      0% {-webkit-transform: translateX(170%);transform: translateX(170%)}
      100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    }
    
    @keyframes slide-from-right {
      0% {-webkit-transform: translateX(170%);transform: translateX(170%)}
      100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    }
    
    .biography-title {
      -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
              animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
    }
  
    .main-content {
      -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
              animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
    }
    
    @-webkit-keyframes slide-from-left {
      0% {-webkit-transform: translateX(-170%);transform: translateX(-170%)}
      100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    }
    
    @keyframes slide-from-left {
      0% {-webkit-transform: translateX(-170%);transform: translateX(-170%)}
      100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    }

    .btn-download {
      opacity: 0;
      animation: fade-in 2s forwards;
      animation-delay: 1.4s;
    }
    
    #profile {
      -webkit-animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
              animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
    }
    
    @-webkit-keyframes fade-in {
      0% {opacity: 0}
      100% {opacity: 1}
    }
    
    @keyframes fade-in {
      0% {opacity: 0}
      100% {opacity: 1}
    }
    
    .interests-div {
      opacity: 0;
      -webkit-animation: fade-in 1s forwards;
              animation: fade-in 1s forwards;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
    }
    
    .education-div {
      opacity: 0;
      -webkit-animation: fade-in 1s forwards;
              animation: fade-in 1s forwards;
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s;
    }
  }

#profile {
  
  .avatar-square {
  -webkit-animation: slide-left 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  animation: slide-left 2s forwards cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }

  
  @-webkit-keyframes slide-right {
      100% { left: 0; opacity: 1}
  }
  
  @keyframes slide-right {
      100% { left: 0; opacity: 1; }
  }
  
  @-webkit-keyframes slide-left {
      100% { right: 0; opacity: 1; }
  }
  
  @keyframes slide-left {
      100% { right: 0; opacity: 1; }
  }
  

  .network-icon {
    
    margin-top: 15px;
    padding: 5px;
    
    .fa-envelope {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s;
    }
    
    .fa-graduation-cap {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s;
    }

    .fa-github {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s;
    }
    
    .fa-linkedin {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s;
    }

    .fa-instagram {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s;
    }
    
    .ai-cv {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s;
    }
    
    @-webkit-keyframes grow {
        100% { opacity: 1; }
    }
    
    @keyframes grow {
        100% { opacity: 1; }
    } 

  }
}